<div class="rule rule-color-1">1. Once you have their money, you never give it back.
</div>
<div class="rule rule-color-0">2. The best deal is the one that brings the most profit.
</div>
<div class="rule rule-color-1">3. Never spend more for an acquisition than you have to.
</div>
<div class="rule rule-color-0">4. A woman wearing clothes is like a man in the kitchen.
</div>
<div class="rule rule-color-1">5. Always exaggerate your estimates.
</div>
<div class="rule rule-color-0">6. Never allow family to stand in the way of opportunity.
</div>
<div class="rule rule-color-1">7. Keep your ears open.
</div>
<div class="rule rule-color-0">8. Small print leads to large risk.
</div>
<div class="rule rule-color-1">9. Opportunity plus instinct equals profit.
</div>
<div class="rule rule-color-0">10. Greed is eternal.
</div>
<div class="rule rule-color-1">11. Even if its free, you can always buy it cheaper.
</div>
<div class="rule rule-color-0">12. Anything worth selling is worth selling twice.
</div>
<div class="rule rule-color-1">13. Anything worth doing is worth doing for money.
</div>
<div class="rule rule-color-0">14. Sometimes the quickest way to find profits is to let them find you.
</div>
<div class="rule rule-color-1">15. Dead men close no deals.
</div>
<div class="rule rule-color-0">16. A deal is a deal... until a better one comes along.
</div>
<div class="rule rule-color-1">17. A contract is a contract is a contract... but only between Ferengi.
</div>
<div class="rule rule-color-0">18. A Ferengi without profit is no Ferengi at all.
</div>
<div class="rule rule-color-1">19. Satisfaction is not guaranteed.
</div>
<div class="rule rule-color-0">20. He who dives under the table today lives to profit tomorrow.
</div>
<div class="rule rule-color-1">21. Never place friendship above profit.
</div>
<div class="rule rule-color-0">22. A wise man can hear profit in the wind.
</div>
<div class="rule rule-color-1">23. Nothing is more important to your health... except for your money.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">27. There's nothing more dangerous than an honest businessman.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">29. What's in it for me?
</div>
<div class="rule rule-color-0">30. Confidentiality equals profit.
</div>
<div class="rule rule-color-1">31. Never make fun of a Ferengi's mother. Insult something he cares about instead.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">33. It never hurts to suck up to the boss.
</div>
<div class="rule rule-color-0">34. War is good for business.
</div>
<div class="rule rule-color-1">35. Peace is good for business.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">37. The early investor reaps the most interest.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">39. Don't tell customers more than they need to know.
</div>
<div class="rule rule-color-0">40. She can touch your lobes but never your latinum.
</div>
<div class="rule rule-color-1">41. Profit is its own reward.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">43. Feed your greed, but not enough to choke it.
</div>
<div class="rule rule-color-0">44. Never confuse wisdom with luck.
</div>
<div class="rule rule-color-1">47. Don't trust a man wearing a better suit than your own.
</div>
<div class="rule rule-color-0">48. The bigger the smile, the sharper the knife.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">52. Never ask when you can take.
</div>
<div class="rule rule-color-1">53. Never trust anybody taller than you.
</div>
<div class="rule rule-color-0">54. Rate divided by time equals profit.
</div>
<div class="rule rule-color-1">55. Take joy from profit and profit from joy.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">57. Good customers are as rare as latinum. Treasure them.
</div>
<div class="rule rule-color-0">58. There is no substitute for success.
</div>
<div class="rule rule-color-1">59. Free advice is seldom cheap.
</div>
<div class="rule rule-color-0">60. Keep your lies consistent.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">62. The riskier the road, the greater the profit.
</div>
<div class="rule rule-color-1">63. Work is the best therapy - at least for your employees.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">65. Win or lose, there's always Huyperian beetle snuff.
</div>
<div class="rule rule-color-0">66. Someone's always got bigger ears.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">68. Risk doesn't always equal reward.
</div>
<div class="rule rule-color-1">69. Ferengi are not responsible for the stupidity of other races.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">74. Knowledge equals profit.
</div>
<div class="rule rule-color-0">75. Home is where the heart is, but the stars are made of latinum.
</div>
<div class="rule rule-color-1">76. Every once in a while, declare peace. It confuses the hell out of your enemies.
</div>
<div class="rule rule-color-0">77. If you break it, I'll charge you for it!
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">79. Beware of the Vulcan greed for knowledge.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">82. The flimsier the product, the higher the price.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">85. Never let the competition know what you're thinking.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">87. Learn the customer's weaknesses, so that you can better take advantage of him.
</div>
<div class="rule rule-color-1">88. Vengeance will cost you everything.
</div>
<div class="rule rule-color-0">89. Ask not what your profits can do for you, but what you can do for your profits.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">92. There are many paths to profit.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">94. Females and finances don't mix.
</div>
<div class="rule rule-color-1">95. Expand or die.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">97. Enough... is never enough.
</div>
<div class="rule rule-color-0">98. Every man has his price.
</div>
<div class="rule rule-color-1">99. Trust is the biggest liability of all.
</div>
<div class="rule rule-color-0">100. When it's good for business, tell the truth.
</div>
<div class="rule rule-color-1">101. Profit trumps emotion.
</div>
<div class="rule rule-color-0">102. Nature decays, but latinum lasts forever
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">104. Faith moves mountains... of inventory.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">106. There is no honor in poverty.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">108. Hope doesn't keep the lights on.
</div>
<div class="rule rule-color-1">109. Dignity and an empty sack is work the sack.
</div>
<div class="rule rule-color-0">110. Exploitation begins at home.
</div>
<div class="rule rule-color-1">111. Treat people in your debt like family - exploit them.
</div>
<div class="rule rule-color-0">112. Never have sex with the boss's sister.
</div>
<div class="rule rule-color-1">113. Always have sex with the boss.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">121. Everything is for sale, even friendship.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">123. Even a blind man can recognize the glow of latinum.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">125. You can't make a deal if you're dead.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">135. Listen to secrets, but never repeat them.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">139. Wives serve, brothers inherit.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">141. Only fools pay retail.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">144. There's nothing wrong with charity... as long as it winds up in your pocket.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">147. People love the bartender.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">151. Even when you're a customer, sell yourself.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">153. Sell the sizzle, not the steak.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">162. Even in the worst of times someone turns a profit.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">168. Whisper your way to success.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">177. Know your enemies... but do business with them always.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">181. Not even dishonesty can tarnish the shine of profit.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">183. When life hands you ungaberries, make detergent.
</div>
<div class="rule rule-color-0">184. A Ferengi waits to bid until his opponents have exhausted themselves.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">188. Not even dishonesty can tarnish the shine of profit.
</div>
<div class="rule rule-color-1">189. Let others keep their reputation. You keep their money.
</div>
<div class="rule rule-color-0">190. Hear all, trust nothing.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">192. Never cheat a Klingon... unless you're sure you can get away with it.
</div>
<div class="rule rule-color-1">193. Trouble comes in threes.
</div>
<div class="rule rule-color-0">194. It's always good business to know about new customers before they walk in your door.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">199. Location, location, location.
</div>
<div class="rule rule-color-1">200. A Ferengi chooses no side but his own
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">202. The justification for profit is profit.
</div>
<div class="rule rule-color-0">203. New customers are like razor-toothed gree worms. They can be succulent, but sometimes they bite back.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">208. Sometimes the only thing more dangerous than a question is an answer.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">211. Employees are the rungs on the ladder of success. Don't hesitate to step on them.
</div>
<div class="rule rule-color-1">212. A good lie is easier to believe than the truth.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">214. Never begin a business negotiation on an empty stomach.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">216. Never gamble with a telepath.
</div>
<div class="rule rule-color-0">217. You can't free a fish from water.
</div>
<div class="rule rule-color-1">218. Always know what you're buying.
</div>
<div class="rule rule-color-0">219. Possession is eleven-tenths of the law!
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">223. Beware the man who doesn't take time for Oo-mox.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">227. If that's what's written, then that's what's written.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">229. Latinum lasts longer than lust.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">235. Duck; death is tall.
</div>
<div class="rule rule-color-1">236. You can't buy fate.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">239. Never be afraid to mislabel a product.
</div>
<div class="rule rule-color-0">240. Time, like latinum, is a highly limited commodity.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">242. More is good... all is better.
</div>
<div class="rule rule-color-1">243. Always leave yourself an out.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">255. A wife is luxury... a smart accountant a neccessity.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">257. When the messenger comes to appropriate your profits, kill the messenger.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">261. A wealthy man can afford anything except a conscience.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">263. Never allow doubt to tarnish your lust for latinum.
</div>
<div class="rule rule-color-0" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-1">266. When in doubt, lie.
</div>
<div class="rule rule-color-0">267. If you believe it, they believe it.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">272. Always inspect the merchandise before making a deal.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">280. If it ain't broke, don't fix it.
</div>
<div class="rule rule-color-1" title="In other words, this/these rule(s) only exist in fanfiction.">Some rules are only available through a Nagal Library Online subscription! <a href=#>Subscribe now!</a></div>
<div class="rule rule-color-0">284. Deep down, everyone's a Ferengi.
</div>
<div class="rule rule-color-1">285. No good deed ever goes unpunished.
</div>
