/*
This file will include the styling for the Rules of Acquisition page.
*/
@font-face {
  font-family: ds9-title;
  src: url('fonts/DS9_Title.ttf')
}
@font-face {
  font-family: ferengi;
  src: url('fonts/Ferengi.ttf')
}
body {
  margin: 0 0 0 0;
  font-family: Cantarell, sans-serif;
}
.ferengi-script {
  font-family: ferengi;
  font-size: 18pt;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
#hero {
  /*Styling for the header: background image, centered
  hero text, banner ad*/
  height: 100vh;
  background-image: url('ferenginar-vectorized.png');
  background-size: cover;
  display: block;
}
a {
  color: #48f;
}
a:visited {
  color: #94f;
}
#hero #hero-text {
  color: white;
  width: 80%;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10% 0 10%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
#hero-text h1 {
  font-family: ds9-title;
  font-size: 45pt;
  color: #fd1;
  font-weight: normal;
}
#menubar {
  color: white;
  padding: 10pt;
}
#rules-grid {
  display: grid;
  grid-template-columns: 70% 30%;
}
#rules-ads {
  /*Secondary color, spacing between images*/
  background-color: #f8f8f8;
  border-left: 1px solid #ccc;
  padding: 15pt;
}
#rules-ads img {
  max-width: 100%;
  margin: 0px 0px 150px 0px;
}
footer  {
  /*dark color, grid?*/
  background-color: #080808;
  color: #fff;
  padding: 15pt;
}
#footer-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.34%;
}
#footer-grid > * {
  padding: 0 5pt 0 5pt;
}
.greatLink, .greatLink:visited {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.greatLink:hover {
  text-decoration: underline;
  font-weight: 400;
}
.rule {
  padding: 5pt 15pt 5pt 15pt;
}
.rule-color-1 {
  background-color: #f8f8f8;
}
.rule-color-0 {
  background-color: #f4f4f4;
}
#submodal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.7);
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
#submodal span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 20px 0 20px;
}
#fakebtn-blue, #fakebtn-blue:visited {
  background-color: #37f;
  color: white;
  padding: 5pt;
  text-decoration: none;
}
#fakebtn-red, #fakebtn-red:visited {
  background-color: #f73;
  color: white;
  padding: 5pt;
  text-decoration: none;
}
#reminder {
  display: none;
}
@media screen and (max-width: 1000px){
  #rules-ads {
    border-left: none;
    border-top: 1px solid #ccc;
  }
  #hero-text h1 {
    font-size: 35pt;
  }
  #rules-grid {
    display: block;
  }
  #footer-grid {
    display: block;
  }
  #rules-ads img {
    margin: 0 0 0 0;
  }
}
